@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

$naranja: rgb(255, 115, 0);

body {
    background-image: url(../multimedia/fondo-negro.jpg);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
}

footer {
    bottom: 5px;
    justify-content: center;
    padding: 20px 0px;
    margin-top: 200px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    max-width: 100%;
    margin-left: auto; 
    margin-right: auto;
    box-sizing: border-box;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

.contenedor {
    display: flex;
    justify-content: flex-end;
    margin-top: 35px;
    margin-left: auto;
}

.acceso {
    font-size: 1.5rem;
    margin-left: 50px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, white, black);
    padding: 10px 5px 20px 5px;
}

input {
    border: solid 3px grey;
    border-radius: 5px;
    padding:5px;
    margin-top: 8px;
    margin-bottom: 20px;
    color: black;
}

.enviar {
    color: white;
    border-radius: 5px;
    border-bottom: 3px solid $naranja;
    background-color: grey;
    padding:5px;
    cursor: pointer;
}

.compania{
    background-image: linear-gradient(to left, $naranja, white) ;
    padding: 10px;
    padding-left: 12px;

    h1 {
        color: black;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        font-size: 1.8rem;
    }

}

.navegacion {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 1.5rem;
    background-color: rgb(0, 0, 0, 0.25);
    padding: 10px 15px;
}

.inicio {
    justify-items: center;

    ul {
        li {
            a {
                color: white;
                text-decoration: none;
    
    
                &:hover{
                    transition: 1s;
                    border-bottom: 3px solid $naranja;
                }
            }
        }
    }
}

.enlaces {
    ul {
        li {
            a{
                color:white;
                margin-left: 25px;
                text-decoration: none;

                &:hover {
                    transition: 1s;
                    border-bottom: 3px solid $naranja;
                }
            }
        }
    }
}

ul {
    li {
        list-style: none;
        display: inline;
    }
}

.carousel-item-background {
    background-size: cover; 
    background-position: center; 
    height: 650px; 
    width: 100%; 
    margin-top: 30px;
}

.reacondicionados {
    background-image: url('../multimedia/Solenoides.jpg');
}

.reguladores {
    background-image: url('../multimedia/Reguladores.jpg');
}

.portadiodos {
    background-image: url('../multimedia/Rectificadores.jpg');
}

.carousel-caption {
    top: 30%;
    transform: translateY(-50%);
    max-width: 30%;
    h2 {
        font-size: 2.8rem;
        text-align: justify;
    }
    p {
        font-size: 1.8rem;
        text-align: justify;
    }
}

.contactarse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 0px 55px;
}

.contactoSinRedes {
    padding: 10px 350px;
    border-radius: 5px;

    p {
        color: white;
        letter-spacing: 1px;
    }

    button {
        font-family: 'Quicksand', sans-serif;
        font-size: 1.3rem;
        font-weight: 400;
        border-radius: 15px;
        background-color: rgb(255, 255, 255, 0.1);
        border: 5px solid rgba(0, 0, 0, 0.567);
        padding: 5px 15px;

        a {
            color: white;
        }
    }
}

#verde {
    color: #00E676;
    
}

#lila {
    color: #FE0AC8;
}

#azul {
    color: #17AEFE
}

.contactoConRedes {
    display: flex;
    flex-direction: column;
    justify-content: center;

    svg {
        height: 30px;
        width: 30px;
        transition: transform 0.3s, translateY 0.3s;

        &:hover {
            transform: scale(1.5) translateY(-15px);
        }
    }

    a {
        margin: 20px;
    }
}

.responsive-dropdown {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .contactoSinRedes {
        padding: 0px;
        margin: 0px 10px;
        background-color: transparent;
    }
}

@media (max-width: 480px) {
    .acceso {
        margin: auto;
        justify-items: center;
        flex-direction: column;
        
        span {
            font-size: 1rem;
            font-weight: 600;
        }

        input {
            font-size: 0.8rem;
        }

        button {
            font-size: 0.8rem;
        }
    }

    .compania {
        background-color: transparent;
        border-bottom: solid 3px $naranja;
        border-top: solid 3px $naranja;
        
        h1 { 
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        }
    }

    .responsive-dropdown {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }

    .carousel-item-background {
        width: 100%;
        height: 150px;
    }

    .carousel-caption {
        max-width: 40%;
    }

    .text {
        h2 {
            font-size: 1.2rem;
        }
        p {
            text-align: left;
            font-size: 0.7rem;
            font-weight: 700;
        }
    }
    
    .navegacion {
        .inicio {
            display: none;
        }
        .enlaces {
            select {
                text-align: center;
                width: 150%;
                padding: 8px;
                margin: 10px 70%;
                border: 2px solid $naranja;
                border-radius: 5px;
                background-color: #fff;
                color: #333;
                font-size: 1rem;
                font-weight: 600;
                
                &:focus {
                    background-color: rgb(234, 76, 137, 0.5);
                    color: white;
                }
            }
            ul {
                display: none;
            }
        }
    }

    .contactoConRedes{
        display: none;
    }

    .contactarse {
        padding: 0px;
    }

    .contactoSinRedes {
        font-size: 0.6rem;
    }

    footer {
        font-size: 0.6rem;
        font-weight: 100;
        padding: 0px;
    }


    .contactoSinRedes {
        margin-top: 10px;
        button {
            font-size: 0.6rem;
            align-items: center;
        }
    }
}