$rosa: #EA4C89;

@media only screen and (max-width: 1000px) {
    .contactoSinRedes {
        padding: 0px;
        margin: 0px 10px;
        background-color: transparent;
    }
}

@media (max-width: 380px) {
    .acceso {
        margin: 20px;
        justify-items: center;
        background-color: rgb(255, 255, 255, 0.2);
        color: white;
        flex-direction: column;
    }

    .compania {
        background-color: transparent;
        border-bottom: solid 3px $rosa;
        border-top: solid 3px $rosa;
        color: white;
        text-align: center;
    }

    .responsive-dropdown {
        display: block;
    }
        
    .navegacion {
        .inicio {
            display: none;
        }
        .enlaces {
            select {
                text-align: center;
                width: 150%;
                padding: 8px;
                margin: 10px 70%;
                border: 2px solid $rosa;
                border-radius: 5px;
                background-color: #fff;
                color: #333;
                font-size: 1rem;
                font-weight: 600;
                
                &:focus {
                    background-color: rgb(234, 76, 137, 0.5);
                    color: white;
                }
            }
            ul {
                display: none;
            }
        }
    }

    .contactoConRedes{
        display: none;

        button {
            font-size: 0.8rem;
        }
    }

    footer {
        font-size: 0.8rem;
        font-weight: 100;
        padding: 0px;
    }
}