@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import "/estilos/estilo.css";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,300&display=swap");
@import "/estilos/estilo.css";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import "/estilos/estilo.css";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import "/estilos/estilo.css";
.busqueda {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 40px 0px;
}
.busqueda input {
  height: 55px;
  width: calc(100% - 1200px);
  margin-left: 15px;
  font-size: 2rem;
}
.busqueda svg {
  background-color: transparent;
  height: 40px;
  width: 40px;
  padding: 5px;
  color: white;
}
.busqueda p {
  position: absolute;
  margin-top: 150px;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 35px;
  color: white;
}

.pedido {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 1.5rem;
}
.pedido svg {
  margin-top: 30px;
  margin-left: 10px;
  height: 50px;
  width: 50px;
}

.carrito {
  display: flex;
  margin-left: 20px;
}

.formularioDeProductos .listaDeProductos ol li {
  display: flex;
  margin-left: 100px;
}

.observaciones {
  margin-left: 20px;
}
.observaciones h3 {
  text-align: left;
}

textarea {
  width: 80%;
  height: 5rem;
  margin-bottom: 35px;
  border-radius: 5px;
  font-size: 1.5rem;
  color: black;
}

.total {
  display: flex;
  margin-top: 15px;
}
.total h1 {
  padding-left: 50px;
  color: white;
}
.total button {
  border-radius: 10px;
  margin: 10px;
  font-size: 1.7rem;
  background-color: #EA4C89;
  color: white;
  text-decoration: none;
  font-weight: 400;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 500px;
  padding: 5px;
}
.total button a {
  color: white;
}
.total button:hover {
  opacity: 0.6;
}

.indicacionesPedido {
  margin: 20px 50px;
  padding-left: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 1.3rem;
  font-family: "Oswald", sans-serif;
}

.productos ul li {
  display: flex;
  color: white;
  font-size: 2rem;
}

.productoBuscado {
  display: flex;
  color: white;
  padding-left: 15px;
}

#filtrar {
  font-size: 2rem;
  margin-top: 10px;
  border-style: none;
  margin-left: 25px;
}

#subir {
  background-color: white;
  font-size: 1.5rem;
  max-width: 10%;
  position: relative;
  bottom: 0px;
  right: -1800px;
  border-radius: 10px;
  border: 5px solid rgb(50, 50, 148);
  background-color: rgb(69, 69, 134);
}
#subir a {
  color: white;
  font-weight: 500;
}

* {
  font-family: "Ubuntu", sans-serif;
  color: white;
}

h3 {
  text-align: center;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 450px;
}

.buttons {
  align-self: flex-start;
  display: flex;
  gap: 20px;
}

.google-btn {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 2px;
  cursor: pointer;
}
.google-btn picture {
  width: 36px;
  height: 36px;
  background-color: white;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.google-btn picture img {
  width: 75%;
}
.google-btn span {
  color: white;
  padding: 15px;
  font-weight: 500;
}
.google-btn:hover {
  opacity: 0.5;
}

.facebook-btn {
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 5px;
  color: #ccc;
  cursor: pointer;
}
.facebook-btn picture img {
  width: 100%;
  border-radius: 5px;
}
.facebook-btn:hover {
  opacity: 0.5;
}

.separador {
  display: flex;
  width: 100%;
  gap: 15px;
}
.separador hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #ccc;
}
.separador span {
  color: #8f8f8f;
}

.section-inputs {
  display: flex;
  gap: 10px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}

label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
label input {
  width: 90%;
  background-color: #212121;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  outline: none;
  font-size: 14pt;
  margin: 10px;
  transition: background-color 0.5s, border 0.5s;
  color: #ccc;
}
label input:hover {
  background-color: #454045;
  border: 1px solid #f3f3f4;
  box-shadow: 0 0 4px #754a4a;
}
label input:focus {
  background-color: #212121;
  border: 1px solid #f3f3f4;
  box-shadow: 0 0 4px #754a4a;
}
label span {
  font-weight: 700;
}

.checkbox {
  display: flex;
  flex-direction: row;
}
.checkbox input[type=checkbox] {
  width: 20px;
}
.checkbox span {
  font-weight: 400;
}

.submit {
  background-color: #EA4C89;
  color: white;
  font-weight: 400;
  border: none;
  border-radius: 10px;
  width: 45%;
  margin: 10px;
  padding: 10px;
  font-size: 13pt;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.submit:hover {
  opacity: 0.6;
}

.legales span {
  color: #bbb;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  margin: auto;
}
.legales button {
  margin: 30px 125px 5px 125px;
}
.legales:hover {
  opacity: 0.6;
}

#politica {
  margin: 10px;
}

/* Estilos para la clase 'logoEmpresa' y su imagen */
.logoEmpresa {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoEmpresa img {
  width: 120px;
  height: 110px;
}

/* Estilos para la clase 'home' */
.home {
  justify-content: center;
  align-items: center;
}
.home a svg {
  font-size: 50px;
  color: white;
  height: 50px;
  width: 50px;
  margin-top: 30px;
}

.empresa {
  margin: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.descripcionEmpresa {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: justify;
  padding: 5px 25px;
  border-radius: 5px;
  max-width: 100vw;
}

.imagenLocal {
  margin-right: 50px;
  max-width: 100%;
}

img {
  border-radius: 30px;
}

@media only screen and (max-width: 1257px) {
  .empresa {
    flex-direction: column;
    text-align: center;
    justify-items: center;
  }
  .imagenLocal {
    margin: 0 auto;
  }
  .imagenLocal img {
    width: 100%;
    height: auto;
    align-items: center;
    margin-right: 0;
  }
}
@media (max-width: 380px) {
  .empresa {
    margin: 30px;
  }
  .descripcionEmpresa {
    font-size: 0.8rem;
    font-weight: 100;
    padding: 0px;
  }
  img {
    display: none;
  }
}
.productoBuscado h1 {
  color: white;
  margin-top: 30px;
}

.contactarse {
  flex-direction: column;
}

/* Estilos para la sección 'busqueda' */
.busqueda {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px 0px;
}
.busqueda input {
  height: 55px;
  width: calc(100% - 1200px);
  margin-left: 15px;
  font-size: 2rem;
}
.busqueda svg {
  background-color: rgba(57, 57, 190, 0.463);
  height: 40px;
  width: 40px;
  padding: 5px;
  color: white;
}
.busqueda p {
  position: absolute;
  margin-top: 150px;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 35px;
}

/* Estilos para la sección 'pedido' */
.pedido {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 1.5rem;
}
.pedido svg {
  margin-top: 30px;
  margin-left: 10px;
  height: 50px;
  width: 50px;
}

.productos {
  align-content: start;
}
.productos ul li {
  display: flex;
  color: white;
  font-size: 2rem;
}

fieldset select {
  font-size: 1.5rem;
  border-radius: 5px;
  border: solid 3px #EA4C89;
  padding: 5px;
  margin: 10px;
  background-color: transparent;
  color: white;
}
fieldset select:hover {
  background-color: black;
}
fieldset select:focus {
  background-color: black;
}

/* Estilos para el elemento con ID 'subir' */
/* Estilos para botones */
#arriba {
  margin: auto;
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: 15px;
  background-color: rgba(54, 76, 154, 0.1);
  border: 5px solid #EA4C89;
  padding: 5px 15px;
  position: absolute;
}
#arriba a {
  color: white;
}

@media only screen and (max-width: 1000px) {
  .contactoSinRedes {
    padding: 0px;
    margin: 0px 10px;
    background-color: transparent;
  }
}
@media (max-width: 380px) {
  .acceso {
    margin: 20px;
    justify-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    flex-direction: column;
  }
  .compania {
    background-color: transparent;
    border-bottom: solid 3px #EA4C89;
    border-top: solid 3px #EA4C89;
    color: white;
    text-align: center;
  }
  .responsive-dropdown {
    display: block;
  }
  .navegacion .inicio {
    display: none;
  }
  .navegacion .enlaces select {
    text-align: center;
    width: 150%;
    padding: 8px;
    margin: 10px 70%;
    border: 2px solid #EA4C89;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 1rem;
    font-weight: 600;
  }
  .navegacion .enlaces select:focus {
    background-color: rgba(234, 76, 137, 0.5);
    color: white;
  }
  .navegacion .enlaces ul {
    display: none;
  }
  .contactoConRedes {
    display: none;
  }
  .contactoConRedes button {
    font-size: 0.8rem;
  }
  footer {
    font-size: 0.8rem;
    font-weight: 100;
    padding: 0px;
  }
}
body {
  background-image: url(../multimedia/fondo-negro.jpg);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
}

footer {
  bottom: 5px;
  justify-content: center;
  padding: 20px 0;
  margin-top: 200px;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  width: 80%;
}

a {
  text-decoration: none;
}

.contenedor {
  display: flex;
  justify-content: flex-end;
  margin-top: 35px;
  margin-left: auto;
}

.acceso {
  font-size: 1.5rem;
  margin-left: 50px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px 5px 20px 5px;
}

.contactar {
  font-size: 1.2rem;
  color: red;
}
.contactar:hover {
  color: #EA4C89;
}

input {
  border: solid 3px grey;
  border-radius: 5px;
  padding: 5px;
  margin-top: 8px;
  margin-bottom: 20px;
  color: black;
}

.enviar {
  color: white;
  border: solid 3px rgb(173, 14, 14);
  border-radius: 5px;
  background-color: red;
  padding: 5px;
}

.compania {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 16px;
  padding-left: 12px;
}
.compania h1 {
  color: black;
  font-size: 2rem;
}

.navegacion {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 10px 15px;
}

.inicio {
  justify-items: center;
}
.inicio ul li a {
  color: white;
  text-decoration: none;
}
.inicio ul li a:hover {
  transition: 1s;
  border-bottom: 3px solid #EA4C89;
}

.enlaces ul li a {
  color: white;
  margin-left: 25px;
  text-decoration: none;
}
.enlaces ul li a:hover {
  transition: 1s;
  border-bottom: 3px solid #EA4C89;
}

ul li {
  list-style: none;
  display: inline;
}

.contactarse {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  max-width: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.contactoSinRedes {
  padding: 10px 350px;
  border-radius: 5px;
}
.contactoSinRedes p {
  color: white;
  letter-spacing: 1px;
}
.contactoSinRedes button {
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 5px solid rgba(0, 0, 0, 0.567);
  padding: 5px 15px;
}
.contactoSinRedes button a {
  color: white;
}

.contactoConRedes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contactoConRedes svg {
  height: 50px;
  width: 50px;
  color: white;
}
.contactoConRedes a {
  margin-bottom: 50px;
  margin-right: 150px;
}

.redesSociales {
  transform: translateY(50%);
}

.responsive-dropdown {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .contactoSinRedes {
    padding: 0px;
    margin: 0px 10px;
    background-color: transparent;
  }
}
@media (max-width: 380px) {
  .acceso {
    margin: auto;
    justify-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    flex-direction: column;
  }
  .acceso span {
    font-size: 0.8rem;
  }
  .acceso input {
    font-size: 0.8rem;
  }
  .acceso button {
    font-size: 0.8rem;
  }
  .compania {
    background-color: transparent;
    border-bottom: solid 3px #EA4C89;
    border-top: solid 3px #EA4C89;
  }
  .compania h1 {
    color: white;
    text-align: center;
  }
  .responsive-dropdown {
    display: block;
  }
  .navegacion .inicio {
    display: none;
  }
  .navegacion .enlaces select {
    text-align: center;
    width: 150%;
    padding: 8px;
    margin: 10px 70%;
    border: 2px solid #EA4C89;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 1rem;
    font-weight: 600;
  }
  .navegacion .enlaces select:focus {
    background-color: rgba(234, 76, 137, 0.5);
    color: white;
  }
  .navegacion .enlaces ul {
    display: none;
  }
  .contactoConRedes {
    display: none;
  }
  .contactoConRedes button {
    font-size: 0.8rem;
  }
  footer {
    font-size: 0.8rem;
    font-weight: 100;
    padding: 0px;
  }
}/*# sourceMappingURL=estilo.css.map */