@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url(../estilos/style.css);

h1 {
    color: white;
}

.contactarse {
    flex-direction: column;
}

/* Estilos para botones */
#subir {
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    border-radius: 15px;
    background-color:#EA4C89;
    border: 5px solid #EA4C89;
    padding: 5px 15px;
}

#subir a {
    color: white;
}

/* Estilos para la sección 'busqueda' */
.busqueda {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 40px 0px;
}

.busqueda input {
    height: 55px;
    width: calc(100% - 1200px);
    margin-left: 15px;
    font-size: 2rem;
}

.busqueda svg {
    background-color: rgba(57, 57, 190, 0.463);
    height: 40px;
    width: 40px;
    padding: 5px;
    color: white;
}

.busqueda p {
    position: absolute;
    margin-top: 150px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 35px;
}

/* Estilos para la sección 'pedido' */
.pedido {
    margin-top: 20px;
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    font-size: 1.5rem;
}

.pedido svg {
    margin-top: 30px;
    margin-left: 10px;
    height: 50px;
    width: 50px;
}

/* Estilos para la sección 'carrito' */
.carrito {
    display: flex;
    margin-left: 20px;
}

/* Estilos para la lista de productos dentro del formulario de productos */
.formularioDeProductos .listaDeProductos ol li {
    display: flex;
    margin-left: 100px;
}

/* Estilos para la sección 'observaciones' */
.observaciones {
    margin-left: 20px;
}

/* Estilos para textarea */
textarea {
    width: 80%;
    height: 5rem;
    margin-bottom: 35px;
    border-radius: 5px;
    font-size: 1.5rem;
}

/* Estilos para la sección 'indicacionesPedido' */
.indicacionesPedido {
    margin: 20px 50px;
    padding-left: 50px;
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
}

/* Estilos para la sección 'productos' */
.productos {
    align-content: start;
}

.productos ul li {
    display: flex;
    color: white;
    font-size: 2rem;
}

fieldset select{
    font-size: 1.5rem;
    border-radius: 5px;
    border: solid 3px #EA4C89;
    padding: 5px;
    margin: 10px;
    background-color: transparent;
    color: white;
}

fieldset select:hover:focus{
    background-color: black;
}
/* Estilos para el elemento con ID 'subir' */
#subir {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    border-radius: 15px;
    background-color: rgba(54, 76, 154, 0.1);
    border: 5px solid #EA4C89;
    padding: 5px 15px;
    margin-top: 160px;
    position: absolute;
}

#subir a {
    color: white;
    font-size: 1.3rem;
    font-weight: 800;
}

#subir:hover{
    border-color: aliceblue;
}